<div class="container">
  <video id="player" class="video-js"></video>
  <div class="iss-tracker-wrapper">
    <iframe class="iss-tracker-iframe" src="http://iss.astroviewer.net/#cockpit" scrolling="no"></iframe>
  </div>
</div>
